{% extends 'main.html' %}
{% block content %}
{% load post_tags %}
{% load static %}
<div class="container-fluid ">
    <br>
    <div class="row">
        <div class="col order-xl-1 order-lg-2 order-md-2 order-sm-2">
            {% for post in posts %}
            <div class="mb-4">
                <div class="card border-light" style="width: 450px; border-radius: 25px;">
                    <div class="card-body" style="border-style: none;">
                        <img class="rounded-circle"
                             src="{{post.poster.profile.image.url}}"
                             height="50px" width="50px"
                             style="object-fit:cover; object-position: top; border: 3px solid #ffc107 ">
                        <span>@{{post.poster.username}}
                    {% if request.user == post.poster %}
                    <button class="btn btn-sm btn-primary rounded-pill" hx-get="{% url 'update-post' post.id %}"
                            hx-target="#dialog">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <a href="" class="btn btn-sm btn-danger rounded-pill" hx-get="{% url 'delete-post' post.id %}"
                       hx-target="#dialog">
                        <i class="bi bi-trash"></i>
                    </a>
                    {% endif %}
                            <small>{{ post.updated | timesince }} ago</small>
                        </span>
                    </div>
                    {% if post.photo %}
                    <div style="height: 300px; overflow-y: scroll;">
                        <img src="{{ post.photo.url }}" class="card-img-top img-thumbnail">
                    </div>
                    {% endif %}
                    <div class="card-img-top img-thumbnail">{{ maps|get_item:post.id | safe }}</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ post.description }}</li>
                        <li class="list-group-item">
                            {% for comment in post.comments.all %}
                            <div>
                                <small>
                                    <img class="rounded-circle"
                                         src="{{comment.user.profile.image.url}}"
                                         height="25px" width="25px"
                                         style="object-fit:cover; object-position: top;">
                                    @{{comment.user}}: {{comment}}
                                </small>
                            </div>
                            {% endfor %}
                            <br>
                            <button class="btn btn-sm btn-warning rounded-pill"
                                    hx-get="{% url 'create-comment' post.id %}"
                                    hx-target="#dialog">
                                add comment...
                            </button>
                        </li>
                    </ul>
                    <div class="card-body">
                        <div>{% include "base/likes_area.html" %}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col order-xl-2 order-lg-1 order-md-1 order-sm-1 mb-4">
            <form action="{% url 'home' %}">
                <input class="form-control border-warning rounded-pill pr-5"
                       type="text" name="q" style="border: 3px solid; background-color:black;"
                       placeholder="Search Posts..."/>
            </form>
            <hr class="bg-info border-2 border-top border-warning">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-success rounded-pill" hx-get="{% url 'create-post' %}"
                    hx-target="#dialog">
                Add a post
            </button>
            {% endif %}
            <span>
        <a class="btn btn-warning rounded-pill" href="{% url 'home' %}">
            All
        </a>
        {% for category in categories %}
        <a class="btn btn-warning rounded-pill" href="{% url 'home' %}?q={{category.name}}">{{category}}</a>
        {% endfor %}
    </span>
            <hr>
            <div class="border border-warning" style="width: 650px; height: 391px;">
                {{ full_map | safe }}
            </div>
        </div>
    </div>

    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog modal-md" hx-target="this"></div>
        <script src="{% static 'dialog.js' %}"></script>
    </div>
    <br>
</div>
{% endblock %}