{% load crispy_forms_tags %}
{% if page == 'login' %}
<form hx-post="{{ request.path }}"
      style="border-radius: 25px; background-color:#E4A11B; border-color: black; text-align: center;"
      class="modal-content"
      enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="container">
        <h5 class="modal-title">Log in</h5>
    </div>
    <div class="modal-body">
        <div class="container">
            <input class="form-control border-warning rounded-pill pr-5"
                   type="text" name="username"
                   placeholder="Enter Username">
        </div>
        <br>
        <div class="container">
            <input class="form-control border-warning rounded-pill pr-5"
                   type="password" name="password"
                   placeholder="Enter Password">
        </div>
        <br>
        <div class="container">
            <input type="submit" value="Login" class="btn btn-lg btn-success rounded-pill">
        </div>
        <br>
        <div class="container">
            <p><i>Haven't signed up yet?</i></p>
            <span>
            <a class="btn btn-info rounded-pill" href="#" hx-get="{% url 'register' %}"
               hx-target="#dialog">Sign up!</a>
            <a class="btn btn-info rounded-pill" href="{% url 'password_reset' %}">Forgot password?</a>
            </span>
        </div>
    </div>
</form>
{% else %}
<form hx-post="{{ request.path }}"
      style="border-radius: 25px; background-color:#E4A11B; border-color: black; text-align: center;"
      class="modal-content"
      enctype="multipart/form-data">
    <div class="modal-body">
        <h5 class="modal-title">Register</h5>
        <br>
        {% csrf_token %}
        {{form | crispy}}
    </div>
    <div class="container">
        <span>
        <input type="submit" value="Register" class="btn btn-md btn-success rounded-pill">
             Already have an account?
            <a href="#" hx-get="{% url 'login' %}"
               hx-target="#dialog">
                Login
            </a>
        </span>
    </div>
    <br>
</form>
{% endif %}
